* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.yellow {
  color: yellow;
}

.flag {
  width: 20px;
}

.date {
  margin-bottom: 100px;
}

.img-logo {
  width: 150px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: black;
  height: 70px;
  align-items: center;
}

.poster {
  border: 2px solid white;
  width: 342px;
  height: 512px;
  margin: 20px 20px;
}

.container-template{
  position: absolute;
  background-color: black;
  bottom: 23px;
  right: 20px;
  width: 342px;
  height: 512px;
  border: 2px solid white;
  color:white;
  padding: 20px 10px 5px;
  overflow-y: scroll;
  overflow-y: auto;
  display: none;
}

main {
  background-color: grey;
  width: 100%;
  height: calc(100vh - 70px);
  overflow-y: scroll;
  overflow-y:auto;
}

.contenitore {
  position: relative;
  display: inline;
}

.container-template p {
  margin: 5px 0;
}

#movie-list, #series-list {
display: flex;
}

h2 {
  font-size: 30px;
  padding: 5px;
}
.box:hover .container-template {
  display: block !important;
}
